.menu
{
    width: var(--width-menu); /* Ширина меню */
    height: var(--height-menu); /* Висота меню */
    float:right;
    font-family: var(--font-family-h);
    font-size: 20px;
    background-color: var(--color-3); /* Фон меню */
    border: 1px solid black; /* Рамка навколо меню */
    
    

}

.menu ul {
    padding-top: 15px; 
    padding-left: 60px; 
    
}

.menu ul li{
    display: inline-block;
    padding: 24px;
    
}

.menu ul li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    
}

.menu ul li a:hover{
    transform: scale(1.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}